<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>NeuroLinks - Explore Resources in the Neuroimaging Community!</title>
  <link href="./lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
  <link href="./lib/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue"></script>
  <script type='text/javascript' src="./lib/rdfstore_min.js">
  </script>

  <script type="text/x-template" id="grid-template">
	<div style="padding-left:3%;padding-right:3%">
  <table class="table table-striped" style="background-color:#cde8f6">
    <thead>
      <tr>
        <th v-for="key in columns">
          {{ key }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in data">
        <td v-for="key in columns" v-html="entry[key]">
          {{ entry[key] }}
        </td>
      </tr>
    </tbody>
  </table>
	</div>
</script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="https://brainhack101.github.io/neurolinks">NeuroLinks</a>
        </div>
      </div>
    </nav>
	<div class="container theme-showcase" style="padding-top:5em" role="main">
		<div class="row jumbotron">
			<h1 style="display:inline">NeuroLinks</h1><br/><h3 style="display:inline">Easily find and share resources for computational neuroscience</h3>
		</div>
		<div class="row">
  		<div id="gridC">
    		<div class="col-md-2"><h3>Resource:</h3>
   			<div class="form-group">
					<select v-model="selected" class="form-control">
      			<option disabled value="">Please select one</option>
      			<option v-for="option in options" v-bind:value="option.value">
        			{{option.text}}
      			</option>
    			</select>
				</div>
				<p>Add your resource by editing the corresponding OWL file, <a href="https://github.com/brainhack101/neurolinks">here!</a></p>
				</div>
    		<div class="col-md-10" style="height:1em">
    		<demo-grid
      		:data="gridData"
      		:columns="gridColumns">
    		</demo-grid>
			</div>
  	</div>

  <script>
  let prefixes = {}
  let prefixArray = []
  let query = " PREFIX rdfs:<http://www.w3.org/2000/01/rdf-schema#>\
  PREFIX obo:<http://purl.obolibrary.org/obo/>\
  PREFIX dct:<http://purl.org/dc/terms/>\
  PREFIX prov:<http://www.w3.org/ns/prov#>\
  SELECT *\
  WHERE { ?subject rdfs:label ?name ;\
    							 obo:IAO_0000115 ?desc ;\
    							 dct:source ?url ;\
    							 prov:wasCreatedBy ?author ;\
    							 obo:IAO_0000121 ?org .\
        } \
  "
  // register the grid component
  Vue.component('demo-grid', {
    template: '#grid-template',
    props: {
      data: Array,
      columns: Array
    },
    data: function () {
      var sortOrders = {}
      this.columns.forEach(function (key) {
        sortOrders[key] = 1
      })
      return {
        sortKey: '',
        sortOrders: sortOrders
      }
    }
  })
  var gridC = new Vue({
    el: '#gridC',
    data: {
      selected:'https://raw.githubusercontent.com/brainhack101/neurolinks/master/owls/course.owl',
      options:[
        {text:'Course', value:'https://raw.githubusercontent.com/brainhack101/neurolinks/master/owls/course.owl'},
        {text:'Tool', value:'https://raw.githubusercontent.com/brainhack101/neurolinks/master/owls/tool.owl'},
        {text:'Data Repos', value:'https://raw.githubusercontent.com/brainhack101/neurolinks/master/owls/datarepo.owl'},
        {text:'Organization', value:'https://raw.githubusercontent.com/brainhack101/neurolinks/master/owls/organization.owl'},
        {text:'Open Initiative', value:'https://raw.githubusercontent.com/brainhack101/neurolinks/master/owls/initiative.owl'},
      ],
      gridColumns: [],
      gridData: [],
      prefixColumns: [],
      prefixData:[]
    },
    computed: {
      showDefaultOwl:{
        get: function(){

        },
        // setter
        set: function (gurl) {
          $.ajax({
            type: "GET",
            url: gurl,
            success: function(data1){
              successCallBack(data1,gridC)
            }
          })//ajax call
        }
      }
    },
    watch: {
      'selected': function() {
        console.log("gridC.selected", gridC.selected)
        $.ajax({
          type: "GET",
          url: gridC.selected,
          success: function(data){
            successCallBack(data,gridC)
          }
        })//ajax call
      }
    }//end of watch
  })
  gridC.showDefaultOwl = 'https://raw.githubusercontent.com/brainhack101/neurolinks/master/owls/course.owl'

  function successCallBack(data,gridComponent){
    let lines = data.split("\n")
    for(let i=0;i<lines.length; i++){
      let line = lines[i].split(" ")
      if(line[0] == "@prefix"){
        substrPrefix = line[2].substring(1,line[2].length-2)
        if(line[1] == ":"){
          console.log("TODO")
          prefixes[substrPrefix] = "turtle"
        }else{
          prefixes[substrPrefix] = line[1].substring(0,line[1].length-1)
        }
      }else if(line[0] == "@base"){
        prefixes[substrPrefix] = "owl"
      }else{
        break;
      }
    }
    console.log("split data:  --\n", prefixes)
    new rdfstore.Store(function(err, store) {
      store.load("text/turtle",data,function(err, results){
        if(err){
          console.log(err)
        }
        store.execute(query,function(success,results) {
					console.log(results)
          let items = results
          let triples = []
          let triple = {}
          let prefixItems = []
          let prefixItem = {}
					let title = []
					let url = []
					for(let i=0; i < gridC.options.length; i++) {
    				if(gridC.options[i].value == gridC.selected){
        			title = gridC.options[i].text
       	 			break
    				}
					}
          for(let i = 0 ; i<items.length; i++){
						console.log(items[i])
            triple[title] = items[i]['name'].value
            triple['Description'] = items[i]['desc'].value
						url = items[i]['url'].value
						if(url.length > 30){
            	triple['URL'] = (url.slice(0,27)+'...').link(url)
						}else{
            	triple['URL'] = url.link(url)
						}
            triple['Contributor'] = items[i]['author'].value
            //triple['Organization'] = items[i]['org'].value
            prefixItem = getPrefixItem(items[i]['subject'].value)
            uri = prefixItem['termWithPrefix']
						triple['URI'] = uri.link(uri)
            if(!isExist(triple, triples,'URI')){
              triples.push(triple)
            }
            if(!isExist(prefixItem, prefixItems,'Prefix')){
              console.log("prefixItem:", prefixItem.Prefix)
              prefixItems.push(prefixItem)
            }
            triple = {}
            prefixItem = {}
          }
          console.log("demo.selected", gridComponent.selected)
          gridComponent.gridColumns = [title, 'Description', 'URL', 'Contributor'] //, 'Organization']
          gridComponent.gridData = triples
          gridComponent.prefixColumns = ['URI']
          gridComponent.prefixData = prefixItems
        })//end of store execute
      })//end of load
    })//rdf store
  } //end of successCallBack

  function isExist(obj, arr,prop){
    for(index=0;index < arr.length; index++){
      let x = arr[index]
      if(x[prop] === obj[prop])
        return true
    }
    return false
  }

  function getPrefixItem(uri){
    let prefixItem = {}
    let pfname = uri.split("#")
    let iri = uri.split("/")
    for(item in prefixes){
      if(uri.indexOf(item)!=-1){
        prefixItem['Prefix'] = prefixes[item]
        prefixItem['URI'] = item
        if(pfname.length>1){
          let parr = iri[iri.length-1].split("#")
          prefixItem['termWithPrefix'] = prefixes[item]+ ":" + parr[1]
        }else{
          prefixItem['termWithPrefix'] = prefixes[item]+ ":" + iri[iri.length-1]
        }
      }
    }
    return prefixItem
  }
</script>
	</div>
<script src="./lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>
