<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>NeuroLinks - Explore Resources in the Neuroimaging Community!</title>
	<link rel=icon href="lynx.png">
  <link href="./lib/bootstrap-3.3.7-dist/css/bootstrap.css" type="text/css" rel="stylesheet"/>
  <link href="./lib/bootstrap-3.3.7-dist/css/bootstrap-theme.css" type="text/css" rel="stylesheet"/>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue"></script>
  <script type='text/javascript' src="./lib/rdfstore_min.js">
  </script>

  <script type="text/x-template" id="grid-template">
	<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th v-for="key in columns">
          {{ key }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in data">
        <td v-for="key in columns" v-html="entry[key]">
          {{ entry[key] }}
        </td>
      </tr>
    </tbody>
  </table>
	</div>
</script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="https://brainhack101.github.io/neurolinks">NeuroLinks</a>
        </div>
      </div>
    </nav>
	<div class="container theme-showcase" style="padding-top:5em" role="main">
		<div class="row jumbotron">
			<h1 style="display:inline"><img height="80px" ="20px" style="padding-bottom:10pt" src="./lynx.png">Neuro<span style="color:rgb(57,126,161)">Links</span></h1><br/><h3 style="display:inline">Easily find and share resources for computational neuroscience</h3>
		</div>
		<div class="row">
  		<div id="gridC">
    		<div class="col-md-2"><h3>Resource:</h3>
   			<div class="form-group">
					<select v-model="selected" class="form-control">
      			<option disabled value="">Please select one</option>
      			<option v-for="option in options" v-bind:value="option.value">
        			{{option.text}}
      			</option>
    			</select>
				</div>
				<p>Add your resource by opening an issue <a href="https://github.com/brainhack101/neurolinks">here!</a></p>
				</div>
    		<div class="col-md-10" style="height:1em">
    		<demo-grid
      		:data="gridData"
      		:columns="gridColumns">
    		</demo-grid>
			</div>
  	</div>

  <script>
  Vue.component('demo-grid', {
    template: '#grid-template',
    props: {
      data: Array,
      columns: Array
    },
    data: function () {
      var sortOrders = {}
      this.columns.forEach(function (key) {
        sortOrders[key] = 1
      })
      return {
        sortKey: '',
        sortOrders: sortOrders
      }
    }
  })
  var gridC = new Vue({
    el: '#gridC',
    data: {
      selected:'none',
      options:[
        {text:'Course', value:'jsons/course.json'},
        {text:'Data', value:'jsons/data.json'},
        {text:'Initiative', value:'jsons/initiative.json'},
        {text:'Organization', value:'jsons/organization.json'},
        {text:'Tool', value:'jsons/tool.json'}
      ],
      gridColumns: [],
      gridData: [],
    },
    computed: {
      showDefault:{
        get: function(){
        		 },
        set: function () {
        			 console.log("gridC.selected", gridC.selected)
							 load_json(gridC)
      			 }
				}
     },
    watch: {
      'selected': function() {
        console.log("gridC.selected", gridC.selected)
				load_json(gridC)
      }
    }//end of watch
  })

	load_json = function(gc) {
  	var xmlhttp;
  	xmlhttp = new XMLHttpRequest();
  	xmlhttp.onreadystatechange = function(){
  		if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
				var json_string = xmlhttp.responseText;
				var json_obj = JSON.parse( json_string );
				console.log(json_obj)
				parse_data(json_obj, gc)
  		}
  	}
  	xmlhttp.open("GET", gridC.selected, true);
  	xmlhttp.send();
	};

	parse_data = function(data, gc) {
		var onts = data.ontologies;
		var terms = data.terms;
		var items = data.entities;
		
		// Reorganize columns based on priority
		terms.sort(function(a, b){
  		return a.priority > b.priority;
		});
		gc.gridColumns = []
		terms.forEach( function(term){
			if (! ('hide' in term && term.hide == true)) {
				if (term.pretty == "Boutiques") {
					gc.gridColumns.push("Platforms")
				} else {	
      		gc.gridColumns.push(term.pretty)
				}
			}
		});
		
		var stacks = []
		items.forEach( function(itm){
			var stack = {}
			gc.gridColumns.forEach( function(term){
				if (term !== "Platforms") { var ind = terms.find(function(a) {return a.pretty === term}).label }
				switch(term){
					case "URL":
						stack[term] = shorturl(itm[ind], 30 - (terms.length-5)*5 )
						break;
					case "Platforms":
						stack[term] = ""
						if (itm["boutiquesdescriptor"]) {
							stack[term] += platforms(itm["boutiquesdescriptor"], "https://raw.githubusercontent.com/boutiques/boutiques.github.io/master/images/logo.png")
						}
						if (itm["dockercontainer"]) {
							stack[term] += platforms(itm["dockercontainer"], "https://secure.gravatar.com/avatar/26da7b36ff8bb5db4211400358dc7c4e.jpg?s=512&r=g&d=mm")
						}
						if (itm["singularitycontainer"]) {
							stack[term] += platforms(itm["singularitycontainer"], "http://singularity.lbl.gov/images/logo/logo.svg")
						}
						break;
					default:
						stack[term] = itm[ind]
				}
			});
			stacks.push(stack);
		});
		
		// Reorganize columns based on name
		stacks.sort(function(a, b){
			var loc = gc.gridColumns[0]
  		return a[loc].toUpperCase() > b[loc].toUpperCase();
		});
		console.log(stacks);
		gc.gridData = stacks
	};
	
	shorturl = function(url, len) {
		if (url.length > len) {
    	return (url.slice(0,len-3)+'...').link(url)
		} else {
      return url.link(url)
		}
	};
	platforms = function(url, logo) {
		return ("<img height='25px' src='" + logo + "' />").link(url)
	};
	
	gridC.selected = 'jsons/course.json'

</script>
	</div>
<script src="./lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>
